node_modules
npm-debug.log
yarn-error.log
/lerna-debug.log
/musl-toolchain
/packages/google-closure-compiler/contrib/
/packages/google-closure-compiler/externs/
/packages/google-closure-compiler-java/compiler.jar
/packages/google-closure-compiler-linux/compiler.jar
/packages/google-closure-compiler-linux/compiler
/packages/google-closure-compiler-linux-arm64/compiler.jar
/packages/google-closure-compiler-linux-arm64/compiler
/packages/google-closure-compiler-macos/compiler.jar
/packages/google-closure-compiler-macos/compiler
/packages/google-closure-compiler-windows/compiler.*
/publish-log.txt
/temp
/zlib
.npmrc
